
*.bin
*.lock
*.properties
*.gradle
*.class
*.tar
*.zip
*.jar
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/index.html
build/reports/tests/test/js/report.js
build/scripts/tony-joe-pos
build/scripts/tony-joe-pos.bat
build/test-results/test/binary/output.bin.idx
build/tmp/jar/MANIFEST.MF
gradlew
gradlew.bat
src/main/java/App.java
src/test/java/AppTest.java
