#background {
    -fx-background-color: RGB(44, 64, 80);
}

.analButtons {
    -fx-background-color: rgb(46,204,113);
    -fx-font-size: 50px;
    -fx-font-color:white;
    -fx-font-weight:bold;
}

.analButtons:pressed{
    -fx-background-color: rgb(33,145,80);
}
#buttonBack:pressed{
    -fx-background-color: rgb(18,56,109);
}