.background{
    -fx-background-color: rgb(72, 105, 132);
}

.label {
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
}

#warningLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #f4ccff;
}

PasswordField {
    -fx-font-size: 30px;
    -fx-background-color: #ffffff;
}

/* default button */
.button {
    -fx-background-color: #d9d9ff;
    -fx-text-fill: #000000;
}

/* OK button should be green */