#background {
    -fx-background-color: rgb(44, 64, 80);
}
.splitPane{
    -fx-background-color: rgb(44, 64, 80);
}
.greenbutton {
    -fx-background-color: rgb(46,204,113);
}
.blueButtons {
	-fx-background-color: rgb(52, 152, 219);
}
.redbutton {
	-fx-background-color: rgb(239, 83, 80);
}
#fileIcon{
    -fx-background-image: url("resources/icons/files.png");
    -fx-background-size: 30%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}
#addButton{
    -fx-background-image: url("resources/icons/addStuff.png");
    -fx-background-size: 30%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#editButton{
    -fx-background-image: url("resources/icons/edit.png");
    -fx-background-size: 23%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#removeButton{
    -fx-background-image: url("resources/icons/del.png");
    -fx-background-size: 30%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.tab {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-background-color:#B7B7B7;
    -fx-font-weight:bold;
    -fx-padding: 0 15 0 15;
}

TabPane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;
}

TabPane .tab .tab-label {
    -fx-text-fill:#000000;
}

TabPane .tab:selected .tab-label {
    -fx-text-fill:#FFFFFF;
}

TabPane .tab:selected {
    -fx-background-color: #3498DB;
}