Label {
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
}

#buttonClose {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

#buttonSubtract {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

#buttonSubtract:disabled #buttonSubtract:disabled > * {
    -fx-background-color: #404040;
    -fx-opacity: 0.5;
}

#buttonAdd {
    -fx-background-color: #2ECC71;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}