Button {
    -fx-text-size: 20px;
}

#Sandwiches {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
}

#Appetizer {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #ffffff;
}

#BudgetMeal {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
}

#ComboMeal {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
}

#Pasta {
    -fx-background-color: #2ecc71;
    -fx-text-fill: #ffffff;
}

#Rice {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
}

#Dessert {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #ffffff;
}

#Drinks {
    -fx-background-color: #2ecc71;
    -fx-text-fill: #ffffff;
}

#Favorites {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #ffffff;
}

#Extras {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
}