.split-pane {
    -fx-background-color: #2C3E50;
}

.split-Pane:vertical > .split-pane-divider {
   -fx-background-color: #2C3E50;
}

.numberButtons {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

#numberButton00 {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

#buttonBackspace {
    -fx-background-image: url("resources/icons/backspace.png");
    -fx-background-color: #EF5350;
    -fx-background-size: 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonEnter {
    -fx-background-image: url("resources/icons/enter.png");
    -fx-background-color: #2ECC71;
    -fx-background-size: 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

CheckBox {
    -fx-text-fill: #FFFFFF;
}

.labelChange {
    -fx-text-fill: #FFEB3B;
}

BorderPane {
    -fx-background-color: #2C3E50;
}

Label {
    -fx-text-fill: #FFFFFF;
}

#comboName {
    -fx-background-color: #3498DB;
}

#buttonOK {
    -fx-background-color: #2ECC71;
    -fx-text-fill: #FFFFFF;
}

.tab {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-background-color:#B7B7B7;
    -fx-font-weight:bold;
    -fx-padding: 0 15 0 15;
}

TabPane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;
}

TabPane .tab .tab-label {
    -fx-text-fill:#000000;
}

TabPane .tab:selected .tab-label {
    -fx-text-fill:#FFFFFF;
}

TabPane .tab:selected {
    -fx-background-color: #3498DB;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-border-color: #2C3E50;
    -fx-border-width: 5px; 
}
.buttonClose {
    -fx-background-color: #EF5350;
    -fx-text-fill:#FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.buttonClose:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}